.containerMain {
    
}

.logo {
    text-decoration: none;
    display: inline;
}

.imgLogo {
    width:30px;
    height:24px;
    border-radius: 50%;
}

.myHeader {
    margin: 6px;
    position: sticky;
    top: 0;
    padding: 10px 16px;
    backdrop-filter: blur(2px);
    color: #f1f1f1; 
    z-index: 2;
    font:bold;

}



.listHeader {

    margin: 1%;
    display: inline;
    text-decoration: none;
    
}

a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:chocolate;
    size: 20px;
    
}

b {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:chocolate;
    size: 20px;
    
}

a:hover {
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}







@font-face {
    font-family: 'Josefin Sans';
    src: url("/Project2/fonts/JosephinSans/JosefinSans-VariableFont_wght.ttf") format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}