body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: antiquewhite;
    size: 18px;
    text-align: left;
}


@font-face {
    font-family: 'Josefin Sans';
    src: url("/fonts/JosephinSans/JosefinSans-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}
