


.buttonCv {
    border: none;
    height: 40px;
    width: 40px;
    background-color:chocolate;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.buttonCv:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.buttonCv i {
    font-size: 25px; /* Adjust the font size for a bigger icon */
}

.formAbout {
    width: 100%;
    border-radius: 6px;
    margin: 5px;
    border: none;
    outline: none;
}

.formAboutMsg {
    height: 100px;
    width: 100%;
    border: none;
    align-items: start;
    border-radius: 6px;
    padding: 6px;
    margin: 5px;
    box-sizing: border-box;
    transition: 0.3s;
    resize : none;
    overflow: scroll;
    outline: none;
}






.formAboutMsg::-webkit-scrollbar{
    width: 0px;
}


.msgIntro {
    background-color: wheat;
    padding-top: 5px;
    border-radius: 6px;
    size: 16px;

}
