<div class="container-fluid">



    

        <!-- Intro row START -->
        <div class="row text-center">

            <div class="col-4 ">
            </div>


            <div class="col-12 col-md-4 pt-3 ">
                <div class="msgIntro">
                    <div class="introTxtCadre">
                        Hello World, i am a computer scientists from France !
                    </div>
                </div>
            </div>

            <div class="col-4 ">
            </div>

        </div> <!-- Intro row END -->




        <!-- IMG Intro row START -->
        <div class="row introRow">

            <div class="col-4 align-items-end">
            </div>


            <div class="col-12 col-md-4 ">
                <div class="containerIntro text-center">

                    <div class="row">

                        <div class="col-12 col-md-4 ">
                            <div class="col"><img src="/assets/img/me.jpg" alt="5 Terre" id="myImg"></div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="col myTxtMaj">
                                Figueira Thibaut
                            </div>
                            <div class="col myTxt">
                                Student, mountain lover, artist, runner.
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-4  ">
            </div>

        </div> <!--IMG Intro row END -->


        <!-- Mywork row START -->
        <div class="row">

            <div class="col-4 ">
            </div>

            <div class="col-12 col-md-4 ">
                <div class=" pb-2 myTxtTitle">
                    Work
                </div>
                
                <div class="myParagraph">
                    Hello and welcome, my name is Thibaut and I am a French student from Paris. I have a passion
                    for building digital products and discovering new tech. I aim to become a full stack developer to
                    make my own projects from the front end to the back end. When I am not coding, I love hiking in the
                    mountains of France or exploring all sorts of art. Currently, I am building my
                    <a href="https://github.com/justachips/PortfolioFgi" class="hyperlink" >website</a>, have a
                    look!
                </div>

                <button class="buttonIntro" routerLink="/works" routerLinkActive="active" ariaCurrentWhenActive="page">
                    My Portfolio >
                </button>
                
                
            </div>


            <div class="col-4 ">
            </div>

        </div> <!-- Mywork row END -->


        <!-- Mybio row START -->
        <div class="row align-items-center">

            <div class="col-4 ">
            </div>

            <div class="col-12 col-md-4  ">
                
                <div class="pt-2 pb-2 myTxtTitle">
                    Bio
                </div>
                
                <div class="row">
                    <div class="col-2 col-md-1 fw-bold">
                        1997
                    </div>
                    <div class="col-10 col-md-11 ">
                    Born in Paris, France.
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-2 col-md-1 fw-bold">
                        2016
                    </div>
                    <div class="col-10 col-md-11">
                        Bac S Spécialité SVT, Lycée Flora Tristan, Noisy le Grand.
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-2 col-md-1 fw-bold">
                        2020
                    </div>
                    <div class="col-10 col-md-11">
                        Licence Cinéma & Audiovisuelle, Université Sorbonne Nouvelle, Paris. 
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-2 col-md-4 fw-bold">
                        2022 to present
                    </div>
                    <div class="col-10 col-md-8">
                        Computer scientists studies, Ynov, Paris.
                    </div>
                </div>

            <div class="col-4 ">
            </div>

        </div> <!-- Mybio row END -->


        <!-- Mylove row START -->
        <div class="row ">

            <div class="col-4 ">
            </div>


            <div class="col-12 col-md-4 pt-3">

                <div class="pt-2 pb-2 myTxtTitle">
                    I love
                </div>
                
                <p>&emsp; Hiking, Nature, Art, Tech, Photography, Running, Climbing, Chill Music, Movie, SF & Fantasy Books.  </p>

            </div>

            <div class="col-4 ">
            </div>

        </div> <!-- Web row END -->

        <!-- Mylink row START -->
        <div class="row ">

            <div class="col-4 ">
            </div>


            <div class="col-12 col-md-4 pt-3">

                <div class="pt-2 pb-2 myTxtTitle">
                    Web
                </div>

                <div class="row m-2">

                    <div class="col-6 pt-2 webLink">
                        <a href="https://github.com/thibautfgi">
                            <i class="fa-brands fa-square-github" style="color: chocolate;"></i>
                            GitHub
                        </a>
                    </div>
                
                    <div class="col-6 pt-2 text-end webLink">
                        
                        <a href="https://ytrack.learn.ynov.com/git/fthibaut">
                            <i class="fa-brands fa-square-git" style="color: chocolate;"></i>
                            GitTea
                        </a>
                    </div>
                
                    <div class="col-6 pt-2 webLink">
                        
                        <a href="https://www.linkedin.com/in/thibaut-figueira-9a2112133/">
                            <i class="fa-brands fa-linkedin" style="color: chocolate;"></i>
                            Linkedin
                        </a>
                    </div>
                
                    <div class="col-6 pt-2 text-end webLink">
                        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="fa-solid fa-envelope" style="color: chocolate;"></i>
                            &nbsp;Email
                        </a>
                    </div>
                
                </div>
                
            </div>

            <div class="col-4 ">
            </div>

        </div> <!-- Mylink row END -->

</div> 