.containerMain {
    
}


.myHeader {

    position: sticky;
    top: 0;
    padding: 6px 12px;
    background-color:rgba(245, 222, 179, 0.7);
    backdrop-filter: blur(6px);
    z-index: 2;
    
}





.listHeader {
    margin: 1%;
    display: inline;
    text-decoration: none;
    
}

a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:chocolate;
    size: 20px;
    
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}


b {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:chocolate;
    size: 20px;
    
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.hover-class {
    color: black;
}

.navContainer {
    display: block;
}

.buttonHiden {
    display: none;
}

@media only screen and (max-width: 768px) {

.navContainer{
display:none;
}
.buttonHiden{
    display: block;
}



}
