.buttonNav {
    border: none;
    height: 40px;
    width: 40px;
    background-color:chocolate;
    border-radius: 6px;
    position: relative;
    margin-left: 10px;

}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  
    border-radius: 6px;
    left: -70px; 
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color:antiquewhite;
    border-radius: 6px;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .buttonHeader {
    border: none;
    height: 40px;
    width: 40px;
    background-color:chocolate;
    border-radius: 6px;
    
}

.buttonHeader:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.buttonNav {
    border: none;
    height: 40px;
    width: 40px;
    background-color:chocolate;
    border-radius: 6px;
    margin-left: 10px;

}

.buttonNav:hover {
    transform: scale(1.05);
    transition: 0.5s;
}


.buttonContainer {
    display: flex;
    justify-content: flex-start;
}


/* TEL ADAPTATION  */
@media only screen and (max-width: 768px) {


.buttonHeader {
margin-left: 60px;
}
  
.buttonHiden{
display:none;
}


.buttonContainer {
    justify-content: flex-end;
}




}