

.stickyHeader {

    position: sticky; /* rend sticky le header */
    top: 0;
    padding: 6px 12px; /* la grosseur du header */
    background-color:rgba(245, 222, 179, 0.7);
    backdrop-filter: blur(6px); /* le background en blur  */
    z-index: 2;
    
}





.listHeader {
    margin: 8px;
    display: inline;  
}















.logo {
    text-decoration: none; /* n'affiche pas les deco propore au listes, ici : point */
    display: flex   ; /* permet de placer l'img a l'endroit voulu */ 
    justify-content: end; /* place l'img a la fin de la col */
}

.imgLogo {
    width:25px;
    height:25px;
    object-fit: cover; /* rapproche l'img   */
    border-radius: 50%;  /* img ronde  */
}













a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:chocolate;
    size: 20px;
    
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}


b {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:chocolate;
    size: 20px;
    
}


ul { /* permet de ne pas faire deborder cette liste*/
    list-style: none; 
    padding: 0;
    margin: 0;
}




.buttonHeader {
    border: none;
    height: 35px;
    width: 35px;
    background-color:chocolate;
    border-radius: 4px;
    
}

.buttonHeader:hover {
    transform: scale(1.05);
    transition: 0.5s;
}




  
