<div class="container-fluid stickyHeader">
    <!-- START CONTAINER -->



    
    <!-- Header row START -->
    <div class="row">


        <div class="col-4 pt-2">
            <li class="logo"><b routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <img src="/assets/img/Wanderer.jpg" alt="Logo" class="imgLogo">
                    Figueira T.
                </b> </li>
        </div>

        <div class="col-4 align-items-center text-center pt-2  ">
          <ul>
            <li class="listHeader"><a routerLink="/works" routerLinkActive="active" ariaCurrentWhenActive="page">Works</a></li>
            <li class="listHeader"><a routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page">Posts</a></li>
            <li class="listHeader"><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
                <li class="listHeader"><a href="https://github.com/thibautfgi">
                    <i class="fa-brands fa-square-github"></i>
                    GitHub
                </a></li>
            </ul>
        </div>

        <div class="col-4 ">
            <button class="buttonHeader"><i class="fa-solid fa-moon" style="color: antiquewhite;"></i></button>
        </div>



    </div> <!-- Header row END -->

    

</div> <!-- END container -->

<div class="container-fluid">

    <div class="row"> <!-- ROW1 START -->
    
    
        <div class="col-4"></div>
    
    
    
        <div class="col-4">
            <app-scene></app-scene>
        </div>
    
    
    
        <div class="col-4"></div>
    
    
    </div> <!-- ROW1 END -->

    
</div>





<router-outlet></router-outlet>